{% extends 'common/base.html' %} {% block head_title %} Companies {% endblock %}
{% load static %} {% block content %}
<div class="p-20 bg-[#e8ffae] flex space-x-2 items-end">
  <img src="{% static 'images/corporate.png' %}" class="h-32" />
  <div class="pl-5">
    <h1 class="font-bold text-3xl">Find a workplace that works for you</h1>
    <p>
      Discover what an employer is really like before you make your next move.
    </p>
  </div>
</div>
<div class="px-20 py-5">
  <div class="grid grid-cols-2 gap-3">
    {% for company in companies %}
    {% include 'components/company.html' %}
    {% endfor %}
  </div>
  {% include 'common/pagination.html' with page_name="companies" %}
</div>
{% endblock %}
