{% extends 'common/base.html' %} 
{% block head_title %}
Monitoring And Evaluation Coordinator
{% endblock %} 
{% load static %}

{% block content %}

<div class="px-5 md:px-20 my-5">
  <h1 class="text-2xl text-center md:text-start md:text-4xl font-bold">{{job.title}}</h1>
  <div class="grid grid-cols-1  md:grid-cols-12 gap-2 p-2 mt-3 rounded-lg">
    <a href="{% url 'company_detail' job.company.slug %}">
    <div class="md:col-span-2 col-span-full p-2 h-32">
      <img
        class="w-full h-full object-cover"
        src="{{job.company.logo.url}}"
      />
    </div>
    </a>
    <div class="col-span-10">
      <h1 class="text-xl">{{job.company.name}}</h1>
      <div class="text-gray-500 ">
        {{ job.company.short_description | safe}}
      </div>
      <div class="flex space-x-2 mt-2">
      <a target="_blank" href="{{job.company.website}}">
          <div
          class="flex space-x-3 items-center border border-black rounded-md w-fit py-1 pl-2 pr-2"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244"
            />
          </svg>
          <p>Website</p>
        </div>
        </a>
       <a target="_blank" href="mailto:{{job.company.email}}">
        <div
        class="flex space-x-3 items-center border border-black rounded-md w-fit py-1 pl-2 pr-7"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"
          />
        </svg>
        <p>Email</p>
      </div>
       </a>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-12 mt-10 gap-4">
    <div class="md:col-span-9 col-span-full">
      <h1 class="text-xl">Job Description</h1>
      <div class="mt-2 " id="job_description">
        {{job.description | safe}}
      </div>
      <h1 class="text-xl mt-5">How to apply</h1>
      <div class="mt-2" id="how_to_apply">
        {{job.how_to_apply | safe}}
      </div>
    </div>
    <div class="md:col-span-3 col-span-full">
      <h1 class="text-xl">Job Overview</h1>
      <div class="mt-2 space-y-2 bg-[#e8ffae]  rounded-lg p-4">
        <div class="flex space-x-2 items-center">
          <div class="p-2 bg-[#aaff00] rounded-md">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z"
              />
            </svg>
          </div>
          <div>
            <div class="text-bold">Date Posted</div>
            <div class="text-sm text-gray-700">{{job.created_at}}</div>
          </div>
        </div>
        <div class="flex space-x-2 items-center">
            <div class="p-2 bg-[#aaff00] rounded-md">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
            </div>
            <div>
              <div class="text-bold">Expiration Date</div>
              <div class="text-sm text-gray-700">{{job.deadline}}</div>
            </div>
          </div>
        <div class="flex space-x-2 items-center">
        <div class="p-2 bg-[#aaff00] rounded-md">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 6.75V15m6-6v8.25m.503 3.498l4.875-2.437c.381-.19.622-.58.622-1.006V4.82c0-.836-.88-1.38-1.628-1.006l-3.869 1.934c-.317.159-.69.159-1.006 0L9.503 3.252a1.125 1.125 0 00-1.006 0L3.622 5.689C3.24 5.88 3 6.27 3 6.695V19.18c0 .836.88 1.38 1.628 1.006l3.869-1.934c.317-.159.69-.159 1.006 0l4.994 2.497c.317.158.69.158 1.006 0z" />
            </svg>              
        </div>
        <div>
            <div class="text-bold">Region</div>
            <div class="text-sm text-gray-700">{{job.region}}</div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-10">
    <h1 class="text-xl">Related Jobs</h1>
    <div class="mt-3 grid grid-cols-1 md:grid-cols-4 gap-2">
        {% for job in relatedJobs %}
        {% include 'components/job.html' %}
        {% endfor %}
    </div>
    {% if relatedJobs|length == 0 %}
    <div class="h-80 flex justify-center">
      <img class="h-full object-cover" src="{% static 'images/empty.svg'%}" />
    </div>
    {% endif %}
  
  </div>
</div>
{% endblock %}
