{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block head_title %}{% endblock %}</title>
    <link href="{% static 'css/output.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/icons/favicon/apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/icons/favicon/favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/icons/favicon/favicon-16x16.png'%}">
    <link rel="manifest" href="{% static '/icons/favicon/site.webmanifest'%}">
    <link rel="mask-icon" href="{% static '/icons/favicon/safari-pinned-tab.svg'%}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <nav class="border-b flex flex-col md:flex-row md:items-center justify-between py-3 px-5 md:py-6 md:px-20">
      <div class="flex justify-between">
        <a href="{% url 'home' %}"><img  src="{% static 'images/logo.png' %}" class="w-32 md:w-64" /></a>
        <button id="menu_button" class="md:hidden outline-none">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9h16.5m-16.5 6.75h16.5" />
          </svg>          
        </button>
      </div>
      <ul id="menus" class="space-x-10 hidden md:flex text-lg  md:flex-row flex-col items-end">
        <li class="border-b-2  pb-1 {% if isHomeActive %} border-[#aaff00] {% else %} border-white {% endif %}"><a href="{% url 'home' %}">Home</a></li>
        <li class="border-b-2  pb-1 {% if isJobsActive %} border-[#aaff00] {% else %} border-white {% endif %}"><a href="{% url 'jobs' %}">Jobs</a></li>
        <li class="border-b-2  pb-1 {% if isCompaniesActive %} border-[#aaff00] {% else %} border-white  {% endif %}"><a href="{% url 'companies' %}">Companies</a></li>
      </ul>
    </nav>
    {% block content %}{% endblock %}
  </body>
  <footer class="bg-[#aaff00] pt-5">
    <div class="grid grid-cols-1 md:grid-cols-5 px-5 md:px-20 gap-5">
      <div class="col-span-2">
        <img src="{% static 'images/logo.png' %}" class="w-64" />
        <p class="mt-3">
          Corporate Ethiopia is an online job listing website tailor made for Ethiopians. 
          It was founded in 2023.
        </p>
      </div>
      <div class="col-span-3">
        {% include 'common/contact-form.html' %}    
      </div>
    </div>
    <div class="border-b border-b-black mt-5"></div>
    <div class="py-5 px-5 md:px-20 flex md:flex-row flex-col items-center justify-between">
      <div class="text-center md:text-start">© {{year}} Developed by Corporate Ethiopia. All Rights Reserved.</div>
      <div class="flex space-x-4 mt-3 md:mt-0">
        <a href="#"><img src="{% static 'icons/instagram_black.svg' %}" class="h-8 w-8" /></a>
        <a href="https://t.me/corporate_ethiopia"><img src="{% static 'icons/telegram_black.svg' %}" class="h-8 w-8" /></a>
        <a href="#"><img src="{% static 'icons/facebook_black.svg' %}" class="h-8 w-8" /></a>
      </div>
    </div>
  </footer>
  <script src="{% static 'js/script.js' %}"></script>
</html>
