{% if total %}
<div class="flex mt-5 justify-center">
  <div class="grow"></div>
  <div class="grow flex justify-between items-center">
    <div class="flex space-x-2">
      {% if currentPage > 0 %}
      <a
        href="/{{page_name}}/?page={{prevPage}}"
        class="p-2 outline-none rounded-md border-2 border-[#aaff00]"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6 text-[#aaff00]"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"
          />
        </svg>
      </a>
      {% endif %}
      <a href="/companies/?page={{nextPage}}">
        <div
          class="flex items-center space-x-2 bg-[#aaff00] px-5 py-2 rounded-md"
        >
          <div>Next page</div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"
            />
          </svg>
        </div>
      </a>
    </div>

    <div>Page {{currentPage|add:1}} of {{numOfPages|add:1}}</div>
  </div>
</div>
{% endif %}
