{% load static %}

<div class="mt-10">
  <!-- <div class="text-2xl font-bold">Most Demanded Job Categories</div> -->

  <div class="grid grid-cols-2 md:grid-cols-8 gap-2 justify-start mt-5 ">
    <a href="/jobs/?sector=Bank">
      <div
        class="flex flex-col justify-center items-center  p-2 hover:bg-[#e8ffae]"
      >
        <img src="{% static 'images/jobs/bank.svg'%}" class="w-14 h-14" />
        <div class="text-center mt-1">Bank</div>
      </div>
    </a>
    <a href="/jobs/?sector=NGO">
      <div
        class="flex flex-col justify-center items-center  p-2 hover:bg-[#e8ffae]"
      >
        <img src="{% static 'images/jobs/ngo.png'%}" class="w-14 h-14" />
        <div class="text-center mt-1">NGO</div>
      </div>
    </a>
    <a href="/jobs/?sector=Finance">
      <div
        class="flex flex-col justify-center items-center  p-2 hover:bg-[#e8ffae]"
      >
        <img src="{% static 'images/jobs/finance.svg'%}" class="w-14 h-14" />
        <div class="text-center mt-1">Finance</div>
      </div>
    </a>
    <a href="/jobs/?sector=Education">
      <div
        class="flex flex-col justify-center items-center  p-2 hover:bg-[#e8ffae]"
      >
        <img src="{% static 'images/jobs/education.svg'%}" class="w-14 h-14" />
        <div class="text-center mt-1">Education</div>
      </div>
    </a>
    <a href="/jobs/?sector=Hospitality">
      <div
        class="flex flex-col justify-center items-center  p-2 hover:bg-[#e8ffae]"
      >
        <img
          src="{% static 'images/jobs/hospitality.svg'%}"
          class="w-14 h-14"
        />
        <div class="text-center mt-1">Hospitality</div>
      </div>
    </a>
    <a href="/jobs/?sector=IT">
      <div
        class="flex flex-col justify-center items-center  p-2 hover:bg-[#e8ffae]"
      >
        <img src="{% static 'images/jobs/it.svg'%}" class="w-14 h-14" />
        <div class="text-center mt-1">IT</div>
      </div>
    </a>
    <a href="/jobs/?sector=Engineering">
      <div
        class="flex flex-col justify-center items-center  p-2 hover:bg-[#e8ffae]"
      >
        <img
          src="{% static 'images/jobs/engineering.svg'%}"
          class="w-14 h-14"
        />
        <div class="text-center mt-1">Engineering</div>
      </div>
    </a>
    <a href="/jobs/?sector=Transportation">
      <div
        class="flex flex-col justify-center items-center  p-2 hover:bg-[#e8ffae]"
      >
        <img
          src="{% static 'images/jobs/transportation.svg'%}"
          class="w-14 h-14"
        />
        <div class="text-center mt-1">Transportation</div>
      </div>
    </a>
    <a href="/jobs/?sector=Legal-Service">
      <div
        class="flex flex-col justify-center items-center  p-2 hover:bg-[#e8ffae]"
      >
        <img
          src="{% static 'images/jobs/legal_services.svg'%}"
          class="w-14 h-14"
        />
        <div class="text-center mt-1">Legal Service</div>
      </div>
    </a>
    <a href="/jobs/?sector=Health">
      <div
        class="flex flex-col justify-center items-center  p-2 hover:bg-[#e8ffae]"
      >
        <img src="{% static 'images/jobs/health.svg'%}" class="w-14 h-14" />
        <div class="text-center mt-1">Health</div>
      </div>
    </a>
    <a href="/jobs/?sector=Manufacturing">
      <div
        class="flex flex-col justify-center items-center  p-2 hover:bg-[#e8ffae]"
      >
        <img
          src="{% static 'images/jobs/manufacturing.svg'%}"
          class="w-14 h-14"
        />
        <div class="text-center mt-1">Manufacturing</div>
      </div>
    </a>
    <a href="/jobs/?sector=Creative-Art">
      <div
        class="flex flex-col justify-center items-center  p-2 hover:bg-[#e8ffae]"
      >
        <img
          src="{% static 'images/jobs/creative_art.svg'%}"
          class="w-14 h-14"
        />
        <div class="text-center mt-1">Creative Art</div>
      </div>
    </a>
    <a href="/jobs/?sector=Skill-Work">
      <div
        class="flex flex-col justify-center items-center  p-2 hover:bg-[#e8ffae]"
      >
        <img src="{% static 'images/jobs/skill_work.svg'%}" class="w-14 h-14" />
        <div class="text-center mt-1">Skill Work</div>
      </div>
    </a>
  </div>
</div>
