{% load static %} 

<div class="mt-10">
  <!-- <div class="text-2xl font-bold">Most Demanded Job Categories</div> -->
  <div class="flex space-x-10 justify-start mt-5">
    <div class="flex flex-col justify-center items-center">
      <img src="{% static 'images/bank.svg'%}" class="w-14 h-14" />
      <div class="text-center mt-1">Bank</div>
      <div class="text-center text-sm text-gray-500 capitalize">
        22 Open Positions
      </div>
    </div>
    <div class="flex flex-col justify-center items-center">
      <img src="{% static 'images/finance.svg'%}" class="w-14 h-14" />
      <div class="text-center mt-1">Finance</div>
      <div class="text-center text-sm text-gray-500 capitalize">
        22 Open Positions
      </div>
    </div>
    <div class="flex flex-col justify-center items-center">
      <img src="{% static 'images/education.svg'%}" class="w-14 h-14" />
      <div class="text-center mt-1">Education</div>
      <div class="text-center text-sm text-gray-500 capitalize">
        22 Open Positions
      </div>
    </div>
  </div>
</div>
